* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 body {
	display: flex;
	align-items: center;
	height: 100vh;
 }

.container {
	max-width: 500px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	gap: 15px;
}

.image {
	cursor: pointer;
}